.HeaderIcons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.Spacing > * {
  margin-left: 8px !important;
}

.OffsetSecondaryBar {
  top: 64px !important;
}

.OffsetHeader {
  height: 128px;
}

.Green {
  background-color: green !important;
}
